@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'Black Han Sans', sans-serif;
}

.container {
	margin: 0 auto;
	width: 700px;
	background-color: #ccc;
	position: relative;
}
.main {
	margin: 0 auto;
	width: 700px;
	background-color: #eee;
	padding: 1.5rem;
}
.container ul {
	margin-left:-10px;
	width : 410px;
	list-style: none;
/* 	background-color: red; */
}
.container div{
	margin-top: 14px;
	margin-right:30px;
	position : absolute;
	right : 0;
	top : 0;
	width : 290px;
/* 	background-color: green; */
}
/* 로그인창 세로로 크게....*/
.container div input[type="button"]{
	height: 50px;
}
li {
	display: inline;
}

ul li a {
	background-color: lime;
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none;
}

.table{
	width : 100%;
	border : 1px solid #aaa;
}
td{
	text-align: center;
}
input[type="submit"] {
	background-color:#c0c0c0;
	padding:0.5rem;
	margin: 0.5rem;
}
input[type="submit"]:hover {
	cursor:pointer;
	background-color:#ccc;
}



